.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-height: 580px) {
  .contentContainer {
    margin-bottom: 32px;
  }
}
.punchLineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  flex-flow: column;
  color: #fff;
}

.punchLine {
  display: flex;
  margin: 8px auto;
  font-weight: 600;
  text-align: center;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.punchLineSecond {
  display: flex;
  margin: 8px auto;
  font-weight: 300;
  text-align: center;
  max-width: 960px;
  line-height: 16px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

@media screen and (min-width: 700px) {
  .punchLineSecond {
    line-height: 32px;
  }
}

.fadeInFromLeft {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
