.container {
  margin: 2% auto 8px auto;
  width: 25%;
  min-width: 250px;
  opacity: 0;
  animation: opacite 0.2s linear forwards 0s;
}

.helloSvg path {
  fill: white;
  fill-opacity: 0;
  animation: fillItUp 0.5s linear forwards 1.5s;
}

@keyframes opacite {
  to {
    opacity: 1;
  }
}
@keyframes fillItUp {
  to {
    fill-opacity: 1;
  }
}
