.container {
  margin: 10% auto 8px auto;
  width: 25%;
}

.helloSvg path {
  fill: white;
  fill-opacity: 0;
  animation: fillItUp 0.5s linear forwards 1.5s;
}

@keyframes fillItUp {
  to {
    fill-opacity: 1;
  }
}
