.container {
  margin: 2% auto 8px auto;
  width: 25%;
  min-width: 250px;
}

@media screen and (min-height: 700px) {
  .container {
  }
}

.helloSvg path {
  fill: white;
  fill-opacity: 0;
  animation: fillItUp 0.5s linear forwards 1.5s;
}

@keyframes fillItUp {
  to {
    fill-opacity: 1;
  }
}
