.container {
  position: fixed;
  right: -80px;
  bottom: 110px;
  display: flex;
  transform: rotate(-90deg);
}

@media (max-width: 700px) {
  .container {
    right: 0;
    bottom: 0;
    justify-content: space-evenly;
    width: 100vw;
    transform: rotate(0deg);
    margin-bottom: 8px;
  }

  .container a {
    font-size: 1.4rem;
  }
}

.socialLinkContainer {
  margin: 0 8px;
  text-align: center;
}

a {
  transition: color 0.4s;
}
a:hover {
  color: white;
}
